.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background-color: #080449;
  color: white;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

.navbar-list li {
  list-style: none;
}

.navbar-list li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}


.navbar-list li a:hover, .navbar-list li .active {
  color: rgb(204, 121, 42);
}

li button {
  background: none;
  color: white;
  font-size: 1.2rem;
  border: 2px solid rgb(194, 175, 175);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}
